{#
/**
 * @file
 * Profile ws custom block.
 */
#}
<div class="block-weather-custom">
    <h2>City: {{ city }}</h2>
    <ul style="list-style: none;">
        <li>Temprature: {{ temp }}</li>
        <li>Pressure: {{ pressure }}</li>
        <li>Humidity: {{ humidity }}</li>
        <li>Temp min: {{ temp_min }}</li>
        <li>Temp max: {{ temp_max }}</li>
        <li>Pressure: {{ wind_speed }}</li>
    </ul>
</div>